@use "../abstracts/lists" as *;
@use "../abstracts/maps" as *;
@use "sass:map";

@function get_row1($name) {
    $_row1: map.get($skill-coordinate, $name);
    $_row1: map.get($_row1, "row1");
    @return $_row1;
}

@function get_row2($name) {
    $_row2: map.get($skill-coordinate, $name);
    $_row2: map.get($_row2, "row2");
    @return $_row2;
}

@function get_column1($name) {
    $_column1: map.get($skill-coordinate, $name);
    $_column1: map.get($_column1, "column1");
    @return $_column1;
}

@function get_column2($name) {
    $_column2: map.get($skill-coordinate, $name);
    $_column2: map.get($_column2, "column2");
    @return $_column2;
}

@function get_top($name) {
    $_top: map.get($skill-coordinate, $name);
    $_top: map.get($_top, "top");
    @return $_top;
}

@function get_left($name) {
    $_left: map.get($skill-coordinate, $name);
    $_left: map.get($_left, "left");
    @return $_left;
}
