<div class="card">
    <h1>Python</h1>
    <div class="text-background">PYTHON</div>
    <div class="background-image">
        <img
            src="https://firebasestorage.googleapis.com/v0/b/portfolio-67279.appspot.com/o/skillsPage%2Fpython--v1.png?alt=media&token=4173e0ce-eb3d-4f32-818e-6d485061ae78"
        />
    </div>
</div>
<div class="card">
    <h1>JavaScript</h1>
    <div class="text-background">JAVASCRIPT</div>
    <div class="background-image">
        <img
            src="https://firebasestorage.googleapis.com/v0/b/portfolio-67279.appspot.com/o/skillsPage%2Fjavascript.png?alt=media&token=dccf4220-6337-4573-9c86-1c7395fbbcc2"
        />
    </div>
</div>
<div class="card">
    <h1>HTML5</h1>
    <div class="text-background">HTML</div>
    <div class="background-image">
        <img
            src="https://firebasestorage.googleapis.com/v0/b/portfolio-67279.appspot.com/o/skillsPage%2Fhtml5.png?alt=media&token=b8c77c7a-8de1-41f4-8363-6bc25dd3f701"
        />
    </div>
</div>
<div class="card">
    <h1>CSS3</h1>
    <div class="text-background">CSS3</div>
    <div class="background-image">
        <img
            src="https://firebasestorage.googleapis.com/v0/b/portfolio-67279.appspot.com/o/skillsPage%2Fcss3.png?alt=media&token=be591707-f372-46b3-b34c-fa106e6ce9de"
        />
    </div>
</div>
<div class="card">
    <h1>Django</h1>
    <div class="text-background">DJANGO</div>
    <div class="background-image">
        <img
            src="https://firebasestorage.googleapis.com/v0/b/portfolio-67279.appspot.com/o/skillsPage%2Fdjango.png?alt=media&token=a7709b6a-dddb-4ddf-829c-a0a9b727129c"
        />
    </div>
</div>
<div class="card">
    <h1>Firebase</h1>
    <div class="text-background">Firebase</div>
    <div class="background-image">
        <img
            src="https://firebasestorage.googleapis.com/v0/b/portfolio-67279.appspot.com/o/skillsPage%2Ffirebase.png?alt=media&token=c4c84578-4c57-488d-9a27-4ef58d2d245b"
        />
    </div>
</div>
<div class="card">
    <h1>MongoDB</h1>
    <div class="text-background">MongoDB</div>
    <div class="background-image">
        <img
            src="https://firebasestorage.googleapis.com/v0/b/portfolio-67279.appspot.com/o/skillsPage%2Fmongodb.png?alt=media&token=48d93b9f-e7b9-4cdc-b62c-418c21278f24"
        />
    </div>
</div>
<div class="card">
    <h1>SASS</h1>
    <div class="text-background">SASS</div>
    <div class="background-image">
        <img
            src="https://firebasestorage.googleapis.com/v0/b/portfolio-67279.appspot.com/o/skillsPage%2Fsass.png?alt=media&token=0cf888de-513a-4cee-bed7-bc7b270dc341"
        />
    </div>
</div>
<div class="card">
    <h1>Github</h1>
    <div class="text-background">Github</div>
    <div class="background-image">
        <img
            src="https://firebasestorage.googleapis.com/v0/b/portfolio-67279.appspot.com/o/skillsPage%2Fgithub.png?alt=media&token=a2109e82-8940-4f8d-acd6-5df2608614c0"
        />
    </div>
</div>
<div class="card">
    <h1>Docker</h1>
    <div class="text-background">Docker</div>
    <div class="background-image">
        <img
            src="https://firebasestorage.googleapis.com/v0/b/portfolio-67279.appspot.com/o/skillsPage%2Fdocker.png?alt=media&token=c2f19cc5-90df-4ab8-b600-e8114b46b185"
        />
    </div>
</div>
<div class="card">
    <h1>Bash</h1>
    <div class="text-background">Bash</div>
    <div class="background-image">
        <img
            src="https://firebasestorage.googleapis.com/v0/b/portfolio-67279.appspot.com/o/skillsPage%2Fconsole.png?alt=media&token=734bf0b7-d5e4-47f4-9406-dc2695ab5ab3"
        />
    </div>
</div>
<div class="card">
    <h1>Swup</h1>
    <div class="text-background">Swup</div>
    <div class="background-image">
        <img
            src="https://firebasestorage.googleapis.com/v0/b/portfolio-67279.appspot.com/o/skillsPage%2Fswup.svg?alt=media&token=90a3949a-542c-458f-8e45-d201247f0224"
        />
    </div>
</div>
