<div class="card">
    <h1>Python</h1>
    <div class="text-background">PYTHON</div>
    <div class="background-image">
        <img src="https://img.icons8.com/color/480/000000/python--v2.png" />
    </div>
</div>
<div class="card">
    <h1>JavaScript</h1>
    <div class="text-background">JAVASCRIPT</div>
    <div class="background-image">
        <img src="https://img.icons8.com/color/480/000000/javascript--v1.png" />
    </div>
</div>
<div class="card">
    <h1>HTML5</h1>
    <div class="text-background">HTML</div>
    <div class="background-image">
        <img src="https://img.icons8.com/color/480/000000/html-5--v1.png" />
    </div>
</div>
<div class="card">
    <h1>CSS3</h1>
    <div class="text-background">CSS3</div>
    <div class="background-image">
        <img src="https://img.icons8.com/color/480/000000/css3.png" />
    </div>
</div>
<div class="card">
    <h1>Django</h1>
    <div class="text-background">DJANGO</div>
    <div class="background-image">
        <img src="https://img.icons8.com/color/480/000000/django.png" />
    </div>
</div>
<div class="card">
    <h1>SASS</h1>
    <div class="text-background">SASS</div>
    <div class="background-image">
        <img src="https://img.icons8.com/color/480/000000/sass.png" />
    </div>
</div>
<!-- <div class="card-hover-text">HOVER</div> -->
