<h2 class="msg-me">Message me</h2>
<div class="form" autocomplete="off">
    <form method="POST" onsubmit="return validateForm()">
        {% csrf_token %} 
        {% for field in form %}
            <div class="form-control">
                {{ field }}
                {{ field.errors }}
            </div>
        {% endfor %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <button type="submit" class="contact-btn">Send</button>
        {% endif %}
    </form>
</div>
