<nav class="navbar">
    <ul class="navbar-container">
        <li class="navbar-container__li">
            <a href="#" class="navbar-container__a">About</a>
        </li>
        <li class="navbar-container__li">
            <a href="#" class="navbar-container__a">Skills</a>
        </li>
        <li class="navbar-container__li">
            <a href="#" class="navbar-container__a">Blog</a>
        </li>
        <li class="navbar-container__li">
            <a href="#" class="navbar-container__a">Contact</a>
        </li>
    </ul>
</nav>
