{% extends 'base.html' %} 
{% load static %} 
{% block css %} 
    <link rel="stylesheet" href="{% static "bundle.css" %}">
    <script defer src="{% static "bundle.js" %}"></script>
{% endblock css %} 
{% block title %}Blog{% endblock title %} 
{% block body %}
<section class="main">
    <!-- background -->
    {% include 'index/components/background.html' %}
    <!-- background -->

    <!-- logo -->
    {% include 'index/components/logo.html' %}
    <!-- logo -->

    <!-- navbar -->
    {% include 'index/components/navbar.html' %}
    <!-- navbar -->
    
    <!-- blogs -->
    <!-- blogs -->
    <div id="swup" class="transition-fade page blogPage" >
        <div class="blogs">
            {% include 'blog/components/all_blogs.html' %}
        </div>
        <div id="filter" class="filter hide_filter">
            <h2 class="filter_heading">Filters</h1>
            {{ tags }}
            <p class="filter_clear hidden">clear filters</p>
            <button class="fetch-btn" date-url="{% url 'blog' %}">Search</button>
            <div class="filter_hide"><</div>
        </div>
    </div>

</section>
{% endblock body %}
