{% extends 'base.html' %} 
{% load static %} 
{% block css %} 
    <link rel="stylesheet" href="{% static "blog.css" %}"> 
    <script defer src="{% static "blog.js" %}"></script>
{% endblock css %} 
{% block title %}Blog{% endblock title %} 
{% block body %}
<section class="main">
    <!-- background -->
    {% include 'index/components/background.html' %}
    <!-- background -->

    <!-- logo -->
    {% include 'index/components/logo.html' %}
    <!-- logo -->

    <!-- navbar -->
    {% include 'index/components/navbar.html' %}
    <!-- navbar -->
    
    <!-- blogs -->
    <!-- blogs -->
    <div class="page" >
        <div class="blogs">
            {% include 'blog/components/all_blogs.html' %}
        </div>
        <div class="filter">
            <h2 class="filter_heading">Filters</h1>
            {{ tags }}
            <button class="fetch-btn" date-url="{% url 'blog' %}">Search</button>
        </div>
    </div>

    <div class="overlay"></div>
    <div id="pop_blog" class="pop_blog_hidden">
        <div id="close_btn" >&#10005;</div>
    </div>

</section>
{% endblock body %}
