{% extends 'base.html' %} 
{% load static %} 
{% block css %} 
    <link rel="stylesheet" href="{% static "superelder.css" %}">
    <script defer src="{% static "tiny_mce.js" %}"></script>
{% endblock css %} 
{% block title %}Blog{% endblock title %} 
{% block body %}
<section class="main">
    <!-- background -->
        {% include 'index/components/background.html' %}
    <!-- background -->

    <!-- logo -->
    {% include 'index/components/logo.html' %}
    <!-- logo -->

    <!-- navbar -->
    {% include 'index/components/navbar.html' %}
    <!-- navbar -->

    {% include 'blog/components/login.html' %}

    {% include 'blog/components/new_blog.html' %}
    
</section>
{% endblock body %}
