@use "../abstracts" as *;
@use "./mixins.scss" as *;

@mixin aboutPage {
    .about {
        grid-row: 4 / 9;
        grid-column: main-start / main-end;
        width: 65%;

        @include responsive(phone) {
            grid-row: 4 / -2;
            grid-column: 2 / -1;
            width: unset;
            padding-right: 2rem;
            overflow: hidden;
        }

        & h1 {
            color: $highlight-color;
            font-family: $secondary-font;
            font-size: 9rem;
        }

        & p {
            margin-top: 2rem;
            color: $primary-font-color;
            font-size: 2.2rem;
            font-weight: 400;
            line-height: 1.5;
        }
    }

}
