@use "../abstracts" as *;
@use "./mixins.scss" as *;

@mixin blogPage {
    .page {
        grid-row: 1 / -1;
        grid-column: 2 / -1;
        display: grid;
        grid-template-rows: repeat(10, 1fr);
        grid-template-columns: repeat(20, 1fr);

        @include responsive(phone) {
            grid-row: 1 / -1;
            grid-column: 1 / -1;
        }
    }

    .blogs {
        grid-row: 1 / -1;
        grid-column: 1 / -6;
        overflow-y: scroll;
        scroll-behavior: smooth;
        scrollbar-width: none;
        scroll-behavior: smooth;
        position: relative;
        padding: 3rem;
        padding-left: 10rem;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(25rem, 28rem));
        grid-auto-rows: auto;
        grid-auto-flow: row;
        gap: 3rem;

        @include responsive(phone) {
            grid-row: 2 / -2;
            grid-column: 1 / -1;
            justify-content: center;
            padding: 0 3rem;
            padding-top: 20rem;
            gap: 4rem;
            grid-template-columns: none;
        }

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
    }

    .blog {
        display: grid;
        grid-template-rows: repeat(10, 1fr);
        grid-template-columns: repeat(5, 1fr);
        height: 37rem;
        min-width: 28rem;
        outline: 2px solid $primary-blue;
        align-items: center;
        justify-content: flex-start;
        overflow: hidden;
        border-radius: 5px;
        border-bottom-right-radius: 30px;
        background-color: rgba(31, 29, 54, 0.5);
        /* From https://css.glass */
        box-shadow: -0.3rem 0 2rem rgba(0, 0, 0, 0.9);
        transition: transform 0.3s ease-in-out, background-color 0.2s linear,
            box-shadow 0.3s ease-in-out, outline 0.2s ease-in-out;
        animation: fadeTop 0.75s ease-out;

        @supports (backdrop-filter: blur(6.6px)) or
            (-webkit-backdrop-filter: blur(6.6px)) {
            & {
                background-color: unset;
                background: rgba(0, 0, 0, 0.2);
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(10px);
                -webkit-backdrop-filter: blur(10px);
            }
        }

        @include responsive(phone) {
            min-width: none;
            width: 35rem;
            height: 45rem;
        }

        &_img {
            width: 100%;
            height: 100%;
            grid-column: 1 / -1;
            grid-row: 1 / 5;
        }

        &_title {
            position: relative;
            font-size: 3rem;
            display: inline-flex;
            word-wrap: break-word;
            grid-column: 1 / -1;
            grid-row: 5 / 8;
            margin: 0 1rem;
            color: $primary-font-color;
        }

        &_tags {
            font-size: 1.6rem;
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            grid-column: 1 / -1;
            grid-row: 8 / 9;
            margin: 0 1rem;

            & li {
                position: relative;
                list-style: none;
                color: $primary-font-color;

                &::after {
                    content: "|";
                    position: absolute;
                    margin-left: 0.25rem;
                    color: $primary-blue;
                }
            }
        }

        &_content {
            display: none;
        }

        &_date {
            font-size: 1.3rem;
            grid-column: 1 / -1;
            grid-row: 9 / -1;
            margin: 0 1rem;
            color: $primary-font-color;
        }

        &_slug {
            display: none;
        }
        &_link {
            grid-column: 4 / -1;
            grid-row: 9 / -1;
            align-self: flex-end;
            justify-self: flex-end;
            display: flex;
            align-items: center;
            margin: 1rem;
            justify-content: center;
            border-radius: 50%;
            height: 4.7rem;
            width: 4.7rem;
            background-color: $highlight-color;
            transition: box-shadow 0.2s linear, transform 0.5s ease-in-out;
            cursor: pointer;

            & svg {
                fill: $primary-background-light;
                height: 2.5rem;
                width: 2.5rem;
            }

            &:hover {
                box-shadow: -1px 2px 20px 4px rgba(250, 152, 25, 0.75);
            }
        }

        &:hover {
            transform: scale(1.03) translateY(1rem);
            background-color: $primary-background-dark;
            box-shadow: -0.3rem 0 2rem $primary-blue;
            outline: 3px solid $primary-blue;
        }

        &:hover &_link {
            transform: scale(1.07);
        }

        @keyframes fadeTop {
            0% {
                opacity: 0;
                // transform: scale(0.8);
            }
            100% {
                opacity: 1;
                // transform: scale(1);
            }
        }
    }

    .hide_filter {
        @include responsive(phone) {
            transform: translateX(100%);
        }
    }

    .filter {
        grid-row: 2 / -2;
        grid-column: 17 / -1;
        height: 95%;
        width: 24rem;
        display: flex;
        flex-direction: column;
        position: relative;
        gap: 1rem;
        align-items: center;
        justify-content: flex-start;
        border-radius: 3px;
        background-color: $primary-background-light;
        transition: transform 0.2s ease-in-out;

        @include responsive(phone) {
            position: fixed;
            right: 0;
            top: 20vh;
            height: 60vh;
        }

        &_heading {
            font-size: 3rem;
            color: $primary-blue;
            margin-top: 2rem;
            margin-bottom: 3rem;
        }

        &_clear {
            margin: 1rem 0;
            color: $highlight-color;
            text-decoration: underline;
            cursor: pointer;
        }

        &_hide {
            position: absolute;
            visibility: hidden;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            left: -2.9rem;
            width: 3rem;
            height: 8rem;
            font-size: 2.5rem;
            text-align: center;
            background-color: $primary-background-dark;
            color: #08fdd8;
            font-weight: 700;
            cursor: pointer;
            border: 2px solid $primary-background-dark;
            border-right: none;

            @include responsive(phone) {
                visibility: visible;
            }
        }
    }

    #id_Tags {
        @include tags;
        width: 80%;
        height: 25rem;
        font-size: 1.5rem;
    }

    @include tags_select_style;

    label {
        font-size: 1.5rem;
        color: $primary-font-color;
    }

    #id_order_by {
        width: 80%;
        height: 4rem;
        font-size: 1.5rem;
        color: $primary-font-color;
        text-align: center;
        background-color: $primary-background-dark;
        border: none;
        outline: 1px solid $primary-blue;

        select.decorated option:hover {
            background: $primary-background-light
                linear-gradient(
                    0deg,
                    $primary-background-light 0%,
                    $primary-background-light 100%
                );
            -webkit-appearance: none;
        }
    }

    .fetch-btn {
        @include primary-btn;
        background-color: $primary-blue;
        font-weight: 600;
        color: #072227;
        z-index: 1;
        width: 80%;
        padding-left: 0;
        padding-right: 0;
        outline: none;

        &::after {
            content: none;
        }
    }

    .pop_blog_hidden {
        transform: translateX(110%);
        opacity: 0;
        display: none;
    }

    .popup {
        &_img {
            grid-row: 1 / 2;
            grid-column: 1 / 5;
            width: 40vw;

            @include responsive(phone) {
                width: 75vw;
            }

            & img {
                width: 40vw;
                padding-top: 56.25%;

                @include responsive(phone) {
                    width: 75vw;
                    padding-top: 56.25%;
                }
            }
        }

        &_title {
            grid-row: 2 / 3;
            grid-column: 1 / 5;
            font-size: 5rem;
            width: 65rem;
            color: $highlight-color;

            @include responsive(phone) {
                grid-column: 1 / -1;
                width: unset;
            }
        }

        &_tags {
            grid-row: 3 / 4;
            grid-column: 1 / 5;
            display: flex;
            gap: 1rem;

            & li {
                list-style: none;
                font-size: 2rem;
                color: $primary-blue;
                position: relative;

                &::after {
                    content: "|";
                    position: absolute;
                    margin-left: 0.25rem;
                    color: #08fdd8;
                }
            }

            @include responsive(phone) {
                align-self: center;
            }
        }

        &_date {
            grid-row: 4 / 5;
            grid-column: 1 / 3;
            font-size: 1.5rem;
            color: $primary-font-color;

            @include responsive(phone) {
                grid-column: 1 / -3;
                align-self: center;
            }
        }

        &_content {
            grid-row: 5 / -1;
            grid-column: 1 / 5;
            width: 65rem;
            font-size: 1.8rem;
            line-height: 1.5;
            color: $primary-font-color;

            @include responsive(phone) {
                grid-column: 1 / -1;
                width: unset;
            }
        }

        &_page_link {
            position: absolute;
            grid-row: 4 / 5;
            grid-column: 4 / 5;
            align-self: flex-end;
            justify-self: flex-end;
            font-size: 2rem;
            color: $primary-blue;
            padding: 1rem 2rem;
            text-decoration: underline;

            &:visited {
                color: $primary-blue;
            }

            @include responsive(phone) {
                align-self: center;
            }
        }
    }

    .hidden {
        display: none;
    }

    @include waves;
}
