@use "../abstracts/index" as *;
@use "sass:math";

@mixin button {
    font-size: 2rem;
    padding: 1rem;
}

@mixin button-primary {
    background-color: $primary-background-color;
    color: $primary-blue;
    border: 1px solid $primary-blue;

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        background-color: $primary-pink;
    }
}
