@use "../abstracts" as *;
@use "./mixins.scss" as *;

@mixin indexPage {
    .about-me {
        grid-row: 4 / 10;
        grid-column: main-start / main-end;
        font-family: $primary-font;
        font-weight: bold;

        @include responsive(phone) {
            grid-row: 5 / 7;
            grid-column: 1 / -1;
            font-family: $primary-font;
            font-weight: bold;
            padding-left: 4rem;
        }

        &-title-big {
            font-size: 8rem;
            line-height: 1.2;
            color: #fff;
            width: fit-content;

            @include responsive(phone) {
                font-size: 5rem;
                width: fit-content;
            }
        }

        &-title-small {
            font-size: 6rem;
            line-height: 1.2;
            color: #fff;
            width: fit-content;

            @include responsive(phone) {
                font-size: 4.5rem;
            }
        }

        .name {
            color: $highlight-color;
            cursor: pointer;
        }

        .character-wrap {
            display: flex;
        }

        .character {
            margin: 0;
            padding: 0;
            display: inline-block;
            transition: transform 0.2s cubic-bezier(0.34, 1.56, 0.64, 1),
                margin-left 0.2s cubic-bezier(0.34, 1.56, 0.64, 1);

            &:hover {
                color: $primary-blue;
                cursor: default;
                transition: transform 0.2s cubic-bezier(0.34, 1.56, 0.64, 1),
                    margin-left 0.2s cubic-bezier(0.34, 1.56, 0.64, 1);
                transform: scale(1.2);
            }
        }
    }

    .highlight {
        color: $highlight-color;
        font-family: $secondary-font;
    }

    .skills-index {
        display: flex;
        gap: 1rem;
        margin-left: 1rem;
        font-weight: 400;

        & li {
            font-size: 2rem;
        }
    }
}
