@use "../abstracts" as *;
@use "./mixins.scss" as *;


@mixin skillsPage {
    .card-wrapper {
        grid-column: 3 / -1;
        grid-row: 4 / 9;
        display: flex;

        @include responsive(phone) {
            grid-column: 2 / -1;
            grid-row: 1 / -1;
            flex-direction: column;
            padding: 7rem;
            flex-wrap: nowrap;
            height: min-content;
            align-items: center;
            justify-content: center;
            position: absolute;
        }
    }

    .card {
        width: 23rem;
        height: 30rem;
        font-family: "Josefin Sans", sans-serif;
        outline: 3px solid $primary-blue;
        position: relative;
        border-radius: 10px;
        background-color: $primary-background-dark;
        display: grid;
        overflow: hidden;
        box-shadow: -0.5rem 0 3rem rgba(0, 0, 0, 0.9);
        grid-template-rows: repeat(10, 10%);
        grid-template-columns: repeat(10, 10%);
        transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out,
            left 0.4s ease-in-out, margin-left 0.4s;

        @include responsive(phone) {
            width: 23rem;
            height: 30rem;
            transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out,
                margin-left 0.4s ease-in-out, margin-top 0.4s;
        }

        & h1 {
            color: $highlight-color;
            grid-column: 1 / 8;
            grid-row: 4 / 3;
            opacity: 0;
            font-size: 4rem;
            padding-left: 1rem;
            transition: opacity 0.4s ease-in-out;
        }

        & .text-background {
            position: absolute;
            color: rgba(255, 255, 255, 0.4);
            font-weight: bold;
            font-size: 9rem;
            letter-spacing: -5px;
            overflow: hidden;
            width: 100%;
            height: 100%;
            grid-column: 1 / -1;
            grid-row: 6 / 9;
            transform: translateY(-8rem);
            transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
        }

        & .background-image {
            width: 23rem;
            height: 23rem;
            opacity: 0.1;
            grid-column: 2 / -1;
            grid-row: 4 / 8;
            opacity: 1;
            transform: scale(0.3) translateX(-34rem) translateY(12rem);
            transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
        }

        & img {
            width: 32rem;
            height: 32rem;
        }

        &:not(:first-child) {
            margin-left: -12rem;

            @include responsive(phone) {
                margin-top: -80%;
                margin-left: 0;
            }
        }

        &:hover + .card {
            margin-left: 0rem;

            @include responsive(phone) {
                margin-top: 0;
            }
        }
    }

    .active {
        & h1 {
            opacity: 1;
            transition: opacity 0.4s ease-in-out;
        }

        & .text-background {
            overflow: hidden;
            transform: scale(1.3) translateY(0) translateX(3rem);
            transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
        }

        & .background-image {
            z-index: -1;
            opacity: 0.1;
            transform: scale(1) translateX(0) translateY(0);
            transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
            opacity: 0.5;
        }

        &::before {
            opacity: 0;
        }

        &::after {
            opacity: 0;
        }

        & {
            transform: translateY(-2rem);
            transition: 0.4s ease-in-out;
            box-shadow: -0.5rem 0 3rem #08fdd8;
            transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out,
                left 0.4s ease-in-out, margin-left 0.4s;

            @include responsive(phone) {
                transform: translateX(5rem);
                transition: transform 0.4s ease-in-out,
                    box-shadow 0.4s ease-in-out, margin-left 0.4s ease-in-out,
                    margin-top 0.4s;
            }
        }

        & + .card {
            margin-left: 0rem;

            @include responsive(phone) {
                margin-top: 0rem;
            }
        }
    }

    .next-btn {
        width: 5rem;
        height: 5rem;
        grid-row: 10 / 11;
        grid-column: 17 / -3;
    }

    @keyframes card-hover-animation {
        0% {
            transform: translateY(-10rem);
        }
        100% {
            transform: translateY(7rem);
        }
    }

    /// asteroid skills

    .skill-asteroid1 {
        grid-row: 2 / 3;
        grid-column: 4 / 5;
        animation: skill-asteroid-animation1 10s ease-in-out infinite;
        @include skills-asteroid;

        @include responsive(phone) {
            visibility: hidden;
        }
    }

    .skill-asteroid2 {
        grid-row: 2 / 3;
        grid-column: 5 / 7;
        animation: skill-asteroid-animation2 5s ease-in-out infinite;
        @include skills-asteroid;

        @include responsive(phone) {
            visibility: hidden;
        }
    }

    .skill-asteroid3 {
        z-index: -1;
        grid-row: 1 / 2;
        grid-column: 3 / 4;
        animation: skill-asteroid-animation3 15s ease-in-out infinite;
        @include skills-asteroid;

        @include responsive(phone) {
            visibility: hidden;
        }
    }

    @keyframes skill-asteroid-animation1 {
        0%,
        100% {
            z-index: 1;
            top: 0;
            left: 0;
        }
        1% {
        }
        50% {
            top: 70vh;
            left: 40vw;
        }
        65% {
            z-index: -1;
        }
        99% {
            z-index: -1;
        }
    }

    @keyframes skill-asteroid-animation2 {
        0%,
        100% {
            z-index: 1;
            top: 0;
            left: 0;
        }
        1% {
        }
        50% {
            top: 70vh;
            left: 15vw;
        }
        65% {
            z-index: -1;
        }
        99% {
            z-index: -1;
        }
    }

    @keyframes skill-asteroid-animation3 {
        0%,
        100% {
            z-index: 1;
            top: 0;
            left: 0;
        }
        1% {
        }
        50% {
            top: 80vh;
            left: 40vw;
        }
        65% {
            z-index: -1;
        }
        99% {
            z-index: -1;
        }
    }
}
