$primary-blue: #0edbff;
$primary-pink: #fd2155;
$primary-font-color: #fff;
$primary-background-dark: #1f1d36;
$primary-background-light: #3f3351;
$primary-background-lightest: #e9a6a6;
$highlight-color: #fa9819;
