$primary-blue: #08fdd8;
$primary-pink: #fd2155;
$primary-font-color: #fff;
$primary-background-dark: #072227;
$primary-background-light: #35858b;
$primary-background-lightest: #4fbdba;
$border-color: #aefeff;
