{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'contact.css' %}">
    <script defer src="{% static 'contact.js' %}"></script>
{% endblock css %}
{% block title %}Contact{% endblock title %}
{% block body %}
    <section class="main">
    <!-- background -->
        {% include 'index/components/background.html' %}
    <!-- background -->

    <!-- logo -->
        {% include 'index/components/logo.html' %}
    <!-- logo -->

    <!-- navbar -->
        {% include 'index/components/navbar.html' %}
    <!-- navbar -->
    <div class="contact">
        <div class="contact-me">
            <h1 class="hoverline">Contact me</h1>
            <p>You can contact me via direct message or my Socials.
                I am willing to work on freelancing projects too or ask me anything.
            </p>
            <h2>Socials</h2>
            {% include 'index/components/icons.html' %}
        </div>

        {% include 'index/components/contact-form.html' %}
    </div>

    <section>
{% endblock body %}


