{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static "bundle.css" %}">
    <script defer src="{% static "bundle.js" %}"></script>
{% endblock css %}
{% block title %}Contact{% endblock title %}
{% block body %}
<section class="main">
    <!-- background -->
        {% include 'index/components/background.html' %}
    <!-- background -->

    <!-- logo -->
        {% include 'index/components/logo.html' %}
    <!-- logo -->

    <!-- navbar -->
        {% include 'index/components/navbar.html' %}
    <!-- navbar -->
    <div id="swup" class="transition-zoom contact contactPage">
        <div class="contact-me">
            <h1>Contact me</h1>
            <p>You can contact me via linkedIn account, checkout my projects
                at my Github.
            </p>
            <h2>Socials</h2>
            {% include 'index/components/icons.html' %}
        </div>

        {% include 'index/components/contact-form.html' %}
    </div>

    <section>
{% endblock body %}


