{% extends 'base.html' %} 
{% load static %} 
{% block css %} 
    <link rel="stylesheet" href="{% static "bundle.css" %}">
    <script defer src="{% static "bundle.js" %}"></script>
{% endblock css %} 
{% block title %}Simar{% endblock title %} 
{% block body %}
<section class="main">
    <!-- background -->
    {% include 'index/components/background.html' %}
    <!-- background -->

    <!-- logo -->
    {% include 'index/components/logo.html' %}
    <!-- logo -->

    <!-- navbar -->
    {% include 'index/components/navbar.html' %}
    <!-- navbar -->

    <div id="swup" class="transition-top about-me">
        <h1 class="about-me-title-small hoverline">Hello,</h1>
        <h1 class="about-me-title-big hoverline">I'm <span class="name ">Simar</span></h1>
        <h1 class="about-me-title-big hoverline">Python developer</h1>

        {% include 'index/components/icons.html' %}

    </div>

</section>
{% endblock body %}
