{% extends 'base.html' %} 
{% load static %} 
{% block css %} 
    <link rel="stylesheet" href="{% static "index.css" %}"> 
{% endblock css %} 
{% block title %}Myself{% endblock title %} 
{% block body %}
<section class="main">
    <!-- background -->
        {% include 'index/components/background.html' %}
    <!-- background -->

    <!-- logo -->
    {% include 'index/components/logo.html' %}
    <!-- logo -->

    <!-- navbar -->
    {% include 'index/components/navbar.html' %}
    <!-- navbar -->

    <div class="about-me">
        <h1 class="about-me-title-small hoverline">Welcome visitor,</h1>
        <h1 class="about-me-title-big hoverline">I'm <span style="color: #aefeff;">Noobmaster69</span></h1>
        <h1 class="about-me-title-big hoverline">Python developer</h1>
    </div>

    <!-- reference icons -->
    {% include 'index/components/icons.html' %}
    <!-- reference icons -->

</section>
{% endblock body %}
