{% extends 'base.html' %} 
{% load static %} 
{% block css %} 
    <link rel="stylesheet" href="{% static "bundle.css" %}">
    <script defer src="{% static "bundle.js" %}"></script>
{% endblock css %} 
{% block title %}Skills{% endblock title %} 
{% block body %}
<section class="main">
    <!-- background -->
    {% include 'index/components/background.html' %}
    <!-- background -->

    <!-- logo -->
    {% include 'index/components/logo.html' %}
    <!-- logo -->

    <!-- navbar -->
    {% include 'index/components/navbar.html' %}
    <!-- navbar -->

    <!-- cards -->
    <div id="swup" class="transition-fade card-wrapper skillsPage">
        {% include 'index/components/card.html' %}
        <div class="skill-asteroid1">
            <img src="https://img.icons8.com/color/144/000000/mongodb.png"/>
        </div>

        <div class="skill-asteroid2">
            <img src="https://img.icons8.com/color/96/000000/git.png"/>    
        </div>

        <div class="skill-asteroid3">
            <img src="https://img.icons8.com/color/96/000000/linux--v1.png"/>
        </div>
    </div>
    
    <!-- cards -->


</section>
{% endblock body %}
