@use "./abstracts" as *;
@use "./base" as *;
@use "./components" as *;
@use "./layout" as *;
@use "./mixins" as *;

body {
    max-height: 100vh;
    max-width: 100vw;
}

.main {
    @include main;
}

.content {
    @include background;
}

@include background-animations;

.logo {
    @include logo;
}

.navbar {
    @include navbar;
}

.ref-icons {
    @include nav-ref-icons;
}

.btn {
    @include button;
    margin-top: 7rem;
    margin-left: 0.8rem;
}

.btn-primary {
    @include button-primary;
}

.hoverline {
    position: relative;
    overflow: hidden;
    @include hoverline;
}

.svg {
    @include nav-svg;
}

////// page content

.about-me {
    grid-row: 4 / 10;
    grid-column: main-start / main-end;
    font-family: $primary-font;
}
