@use "./abstracts" as *;
@use "./base" as *;
@use "./components" as *;
@use "./layout" as *;
@use "./mixins" as *;

body {
    background-color: $primary-background-color;
    max-height: 100vh;
    max-width: 100vw;
}

.main {
    display: grid;
    grid-template-rows: [logo-star] repeat(3, 10vh) [logo-end] repeat(7, 10vh);

    grid-template-columns:
        [sidebar-start] minmax(8vw, 10vw)
        [sidebar-end full-start] 10vw [main-start] repeat(
            8,
            [col-start] minmax(min-content, 8.75vw) [col-end]
        )
        [main-end] 10vw [full-end];
}

.navbar {
    grid-row: 1 / -1;
    grid-column: sidebar-start / sidebar-end;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-background-dark;

    &-container {
        grid-row: 4 / 8;
        list-style: none;
        align-items: center;
        justify-content: center;
        width: 100%;

        &:last-child {
            border-bottom: 1px solid $border-color;
        }

        &__li {
            display: flex;
            align-items: center;
            justify-content: center;
            border-top: 1px solid $border-color;
            padding: 1.7rem 0;
            text-align: center;
        }

        &__a {
            font-size: 2rem;
            font-weight: 500;
            text-decoration: none;
            color: $primary-font-color;
        }
    }
}

.about-me {
    grid-row: 3 / 10;
    grid-column: main-start / main-end;
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold;

    &-title {
        font-size: 9rem;
        line-height: 1.2;
        color: $primary-blue;

        &_span {
            display: block;
        }
    }
}

.btn {
    @include button;
    margin-top: 7rem;
    margin-left: 0.8rem;
}

.btn-primary {
    @include button-primary;
}
