@use "./abstracts" as *;
@use "./base" as *;
@use "./components" as *;
@use "./layout" as *;
@use "./mixins" as *;

body {
    background-color: $primary-background-color;
    max-height: 100vh;
    max-width: 100vw;
}

.main {
    display: grid;
    grid-template-rows: [logo-star] repeat(3, 10vh) [logo-end] repeat(7, 10vh);

    grid-template-columns:
        [sidebar-start] minmax(8vw, 10vw)
        [sidebar-end full-start] 10vw [main-start] repeat(
            8,
            [col-start] minmax(min-content, 8.75vw) [col-end]
        )
        [main-end] 10vw [full-end];
}

.navbar {
    grid-row: 1 / -1;
    grid-column: sidebar-start / sidebar-end;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-background-dark;

    &-container {
        grid-row: 4 / 8;
        list-style: none;
        width: 100%;

        &:last-child {
            border-bottom: 1px solid $border-color;
        }

        &__li {
            display: flex;
            align-items: center;
            justify-content: center;
            border-top: 1px solid $border-color;
            text-align: center;
            cursor: pointer;
            height: 6rem;
            transition: background-color 0.1s linear;

            &:hover {
                background-color: $primary-background-color;
            }
        }

        &__a {
            position: relative;
            font-size: 2rem;
            font-weight: 500;
            text-decoration: none;
            text-align: left;
            display: grid;
            grid-template-columns: repeat(5, 20%);
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
            width: 100%;
            height: 5.92rem;
            background-color: $primary-background-dark;
            color: $primary-font-color;
            transition: background-color 0.15s ease-in-out,
                transform 0.2s ease-in-out;

            &:hover {
                color: $primary-background-dark;
                transform: translateX(4rem);
                background-color: $primary-blue;
                border-top: 1px solid $border-color;
                border-bottom: 1px solid $border-color;
                border-top-right-radius: 2px;
                border-bottom-right-radius: 2px;
            }
        }
    }
}

.about-me {
    grid-row: 3 / 10;
    grid-column: main-start / main-end;
    font-family: $primary-font;
    font-weight: bold;

    &-title {
        font-size: 8rem;
        line-height: 1.2;
        color: #fff;
        width: fit-content;
    }
}

.btn {
    @include button;
    margin-top: 7rem;
    margin-left: 0.8rem;
}

.btn-primary {
    @include button-primary;
}

.hoverline {
    position: relative;
    overflow: hidden;
    @include hoverline;
}

.svg {
    margin-left: 1.5rem;

    &-text {
        margin-left: 1rem;
    }
}
